/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

li {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(210, 206, 215);

}

.actions {
  margin-left: auto;  /* push buttons to the end */
  display: flex;    
}

li button {
  background-color: #007bff;
  padding: 8px 12px;
  font-size: 14px;
 margin: 0 4px;
    
}

li button:hover {
  background-color: #007bff;
}
